.active {
  background-color: #1d4ed8;
}

.navbar-home {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: transparent;
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.navbar-home.scrolled {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
}

.navbar-home a,
.navbar-home .title {
  font-family: Arial, Helvetica, sans-serif !important;
  color: white;
  text-decoration: none;
  font-weight: 600;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.navbar-home .title {
  font-size: 1.5rem;
  margin: 1rem;
  text-decoration: none;
  color: white;
}

.navbar-home ul {
  display: flex;
}

.navbar-home ul li {
  list-style: none;

}

.navbar-home ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-home ul li a:not(.active):hover {
  background-color: #6495ff60;
}

.navbar-home .menu {
  display: none;
  position: absolute;
  top: 1.75rem;
  right: 2.25rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

.navbar-home .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: white;
  border-radius: 0.2rem;
  transition: transform 0.3s ease, opacity 0.3s ease;
}


.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.user {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  margin-right: 1em;
  margin-right: 1em;
}

@media (max-width: 620px) {
  .navbar-home .menu {
    display: flex;
  }
  
  .buttonglass {
    margin: 0.5rem;
  }
  .navbar-home {
    flex-direction: column;
    align-items: start;
    border-radius: 10px;
  }

  .navbar-home.scrolled {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(8px);
  }
  
  .navbar-home ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
    align-items: center;
  }
  
  .navbar-home ul.open {
    display: flex;
    margin-bottom: 30px;
  }

  .navbar-home ul li {
    width: auto;
    text-align: center;
  }

  .navbar-home ul li button {
    text-align: center;
  }

  .navbar-home ul li a {
    margin: 0.2rem 0.5rem;
  }
}