@import "tailwindcss";


/* Tetap memungkinkan scroll dengan smooth */
html {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Untuk Chrome, Safari */
html::-webkit-scrollbar {
  display: none;
}

/* Font Family */
* {
  font-family: Arial, Helvetica, sans-serif;
}

/* Hilangkan scrollbar di seluruh halaman */
body {
  overflow: hidden;
}

/* Animation Cursor Blink */
.animate-cursor-blink {
  position: relative;
  left: 0.3rem;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* Responsive Home*/
@media (max-width: 620px) {
  .home-headers h1 {
    font-size: 3.5rem;
  }
  .home-headers p {
    font-size: 0.8rem;
    margin-bottom: 0.8rem;
  }
  .button-glass {
    transform: scale(0.9) !important;
  }
}