@import "tailwindcss";

/* Hilangkan scrollbar di seluruh halaman */
body {
  overflow: hidden;
}

/* Tetap memungkinkan scroll dengan smooth */
html {
  overflow: auto;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE/Edge */
}

/* Untuk Chrome, Safari */
html::-webkit-scrollbar {
  display: none;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.animate-cursor-blink {
  position: relative;
  left: 0.3rem;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}